<div id="follow-button-<%= user.id %>">
  <% if user.followed?(current_user) %>
      <%= link_to 'following', follow_user_path(user), remote: true, class:'button-follow' %>
  <% else %>
      <%= link_to 'follow', follow_user_path(user), remote: true, class:'button-follow' %>
  <% end %>
</div>