// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-upload {
  color: white;
  background-color: #c60000;
  padding: 4px;
  border-radius: 3px;
  font-size: 150%;
  margin-right: 2px;
}

.my-nav {
  background-color: #000013;
  padding: 10px;
  margin-bottom: 100px;
}

.margin-nav {
  margin-top: 100px;
}