// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-upload {
  color: white;
  background-color: #c60000;
  padding: 4px;
  border-radius: 3px;
  font-size: 150%;
  margin-right: 2px;
}

.my-nav {
  background-color: #000013;
  padding: 10px;
  margin-bottom: 100px;
}

.margin-nav {
  margin-top: 100px;
}

//---------SEARCH RESULT--------------
.list-images-result {
  .col-md-3 {
    padding: 0;
  }
  .image-result {
    padding-right: 15px;
    margin: 10px 0;
    img {
      position: relative;
      width: 100%;
    }
    .location-image {
      padding-right: 15px;
      background-color: rgba(242, 242, 242, 0.84);
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      height: 40px;
      overflow: hidden;
      width: 100%;
      span {
        text-align: right;
      }
    }
  }
}


//----------------IMAGE SHOW-----------------
.image-content {
  background-color: #2E2F30;
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 99999;
  img {
    max-width: 90%;
    max-height: 80vh;
    margin: 0 auto;
    vertical-align: middle;
  }
}

.image-info {
  .col-md-8 {
    border-right: 1px gray dotted;
    margin: 0 10px;
    .comment-form {
      background-color: #e8e8e8;
      margin: 20px 0;
      display: inline-block;
      width: 100%;
      .user-avatar {
        float: left;
        padding: 0 10px 0 0;
        width: 15%;
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
      .form-comment {
        float: left;
        width: 85%;
        textarea {
          width: 100%;
        }
        input {
          float: right;
        }
      }
    }
    .comments-list {
      border-left: 1px dotted gray;
      //outline: 5px solid #e8e8e8;
      padding-left: 20px;
      background-color: #e8e8e8;
      margin: 10px 0;
      display: inline-block;
      width: 100%;
      .row {
        margin-bottom: 5px;
        .user-avatar {
          float: left;
          padding: 0 10px 0 0;
          width: 10%;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        .comment-content {
          width: 90%;
          float: right;
          //overflow: scroll;
          .user-name {
            color: #2E2F30;
            font-size: 120%;
          }
        }
      }
    }
  }
  .col-md-4 {

  }
}


//--------------------button like------------------------
.image-button-like{
  .true {
    color: #68bd4e;
  }
  .false {
    color: gray;
  }
}