<div class="col-sm-6 col-sm-offset-3">
  <%= form_for(@category) do |f| %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>